{{define "content"}}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">cloud</i>
            </div>
            <h4 class="card-title">AWS</h4>
          </div>
          <div class="card-body ">
            <form method="#" action="#">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group bmd-form-group">
                      <input type="text" class="form-control" placeholder="Name">
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group bmd-form-group">
                      <input type="text" class="form-control" placeholder="Region">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group bmd-form-group">
                      <input type="password" class="form-control" placeholder="Access Key">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group bmd-form-group">
                      <input type="password" class="form-control" placeholder="Secret Key">
                    </div>
                  </div>
                  <div class="col-md-1">
                    <div class="form-group bmd-form-group">
                      <button type="submit" class="btn btn-sm btn-warning">Create</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">cloud</i>
            </div>
            <h4 class="card-title">GCP</h4>
          </div>
          <div class="card-body ">
            <form method="#" action="#">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group bmd-form-group">
                      <input type="text" class="form-control" placeholder="Name">
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group bmd-form-group">
                      <input type="text" class="form-control" placeholder="Region">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group bmd-form-group">
                      <input type="password" class="form-control" placeholder="Access Key">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group bmd-form-group">
                      <input type="password" class="form-control" placeholder="Secret Key">
                    </div>
                  </div>
                  <div class="col-md-1">
                    <div class="form-group bmd-form-group">
                      <button type="submit" class="btn btn-sm btn-danger">Create</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}