{{define "sidebar"}}
<div class="sidebar" data-color="azure" data-background-color="black">
  <div class="logo">
    <a href="https://www.kranio.io" class="simple-text logo-normal">
      Maestro
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="material-icons">share</i>
          <p>Pipelines</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/connections">
          <i class="material-icons">settings_input_composite</i>
          <p>Connections</p>
        </a>
      </li>
    </ul>
  </div>
</div>
{{end}}